<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>骑手信息后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/xadmin.css">
		<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/xadmin.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<!--
		<script type="text/javascript" src="js/ajaxutil.js"></script>
		-->
		<script type="text/javascript" src="EmpManager.js"></script>
	</head>

	<body>
		<div  id="app">
			<div class="x-nav">
				<span >
        <a>
          <cite>骑手信息管理</cite></a>
      </span>
      
			</div>
			<div class="layui-fluid">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-body ">
								<form class="layui-form layui-col-space5">
									<div class="layui-inline layui-show-xs-block">
										<input type="text" value="" placeholder="请输入骑手姓名" autocomplete="off" class="layui-input emp_name">
									</div>
									<div class="layui-inline layui-show-xs-block">
										<input type="text" value="" placeholder="请输入骑手电话" autocomplete="off" class="layui-input emp_phone">
									</div>
									<div class="layui-inline layui-show-xs-block">
										<button class="layui-btn search_btn" type="button"  lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
									</div>
									<div class="layui-inline layui-show-xs-block">
										<a class="layui-btn layui-btn-small"  onclick="location.reload()" title="刷新">
        								<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
									</div>
									 <i>&nbsp;&nbsp;
									 </i>
										<a data-method="offset" data-type="auto" class="layui-btn layui-btn-mini lay-event=edit layui-btn-normal" @click="addEmp()">
										<i class="layui-icon layui-icon-add-1"></i>添加</a>
										<i>&nbsp;&nbsp;</i>
								</form>
							</div>
							<div class="layui-card-body ">
								<table class="layui-table layui-form">
									<colgroup>
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="20%">
									</colgroup>
									<thead>
										<tr>
											<th>骑手ID</th>
											<th>骑手姓名</th>
											<th>骑手专业</th>										
											<th>骑手宿舍</th>
											<th>骑手学号</th>
											<th>骑手信誉分</th>
											<th>骑手联系电话</th>										
											<th>状态</th>
											<th>操作栏</th>
										</tr>
									</thead>
									<tbody>
										<template v-for="list in list">
											<tr>
												<td>{{list.emp_id}}</td>
												<td>{{list.emp_name}}</td>
												<td>{{list.emp_major}}</td>
												<td>{{list.emp_dormitory}}</td>
												<td>{{list.emp_sno}}</td>
												<td>{{list.emp_credit}}</td>
												<td>{{list.emp_phone}}</td>
												<td>
													<span v-if="list.emp_state==0">正常</span>
													<span v-if="list.emp_state==1">停用</span>
												</td>
												<td>
													<a data-method="offset" data-type="auto" class="layui-btn layui-btn-mini layui-btn-warm" @click="updateEmp(list.emp_id)">
													<i class="layui-icon layui-icon-add-1"></i>修改</a>
													<i>&nbsp;&nbsp;</i>
													<a v-if="list.emp_state==0" class='layui-btn layui-btn-mini layui-btn-info' @click="lockEmpState(list.emp_id,list.emp_state,list.emp_name)"><i class="layui-icon"></i>
													{{list.emp_state==0?"停用":"启用"}}</a>
													<a v-if="list.emp_state==1" class='layui-btn layui-btn-mini layui-btn-danger' @click="lockEmpState(list.emp_id,list.emp_state,list.emp_name)"><i class="layui-icon"></i>
													{{list.emp_state==0?"停用":"启用"}}</a>
													<a href="javascript:void(0)" title="删除" @click="deleteEmp(list.emp_id,list.emp_name)" id="deletEmp" :emp_id="list.emp_id" class="">
													<i class="layui-icon">&nbsp;&nbsp;&nbsp;&nbsp;&#xe640;</i></a>
												</td>
												</td>
											</tr>
										</template>
									</tbody>
								</table>
							</div>
							<!--显示分页的地方-->
							<center>
								<div id="laypage"></div>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
