<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>代课后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="stylesheet" href="../lib/layui/css/layui.css",media="all">
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<script src="../lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/xadmin.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/ajaxutil.js"></script>
		<script type="text/javascript" src="ProxySend.js"></script>
	</head>

	<body>
		<div  id="app">
			<div class="x-nav">
				<span >
        <a>
          <cite>抢单管理</cite></a>
      </span>
			</div>
			<div class="layui-fluid">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-body ">
								<form class="layui-form layui-col-space5">
									<div class="layui-inline layui-show-xs-block">
										<input type="text" value="" placeholder="请输入要查找的内容" autocomplete="off" class="layui-input search_Content">
									</div>
									<div class="layui-inline layui-show-xs-block">
										<input type="text" value="" placeholder="请输入发单编号" autocomplete="off"  class="layui-input search_Code">
									</div>
									<div class="layui-inline layui-show-xs-block">
										<button class="layui-btn search_btn" type="button"  lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
									</div>
									<div class="layui-inline layui-show-xs-block">
										<a class="layui-btn layui-btn-small"  onclick="location.reload()" title="刷新">
        								<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
									</div>
								</form>
							</div>
							<div class="layui-card-body ">
								<table class="layui-table layui-form">
									<colgroup>
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="12%">
										<col width="15%">
										<col width="10%">
										<col width="18%">
									</colgroup>
									<thead>
										<tr>
											<th>发单ID</th>
											<th>用户名</th>
											<th>发单编号</th>
											<th>性别要求</th>
											<th>发单时间</th>
											<th>发单人QQ</th>
											<th>发单状态</th>
											<th>操作栏</th>
										</tr>
									</thead>
									<tbody>
										<template v-for="proxy in list">
											<tr>
												<td>{{proxy.pcid}}</td>
												<td>{{proxy.user.uname}}</td>
												<td>{{proxy.pccode}}</td>
												<td>{{proxy.psex==0?"男":"女"}}</td>
												<td>{{proxy.pctime}}</td>
												<td>{{proxy.pcqq}}</td>
												<td>
													<span v-if="proxy.pstate==0">此发单已上架</span>
													<span v-if="proxy.pstate==4">此发单已下架</span>
												</td>
												<td>
													<i>&nbsp;&nbsp;</i>
													<a data-method="offset" data-type="auto" class="layui-btn layui-btn-mini layui-btn-normal" @click="showProxyPcontent(proxy.pcid)">
													<i class="layui-icon layui-icon-list"></i>查看</a>
													<i>&nbsp;&nbsp;</i>
													<a  v-if="proxy.pstate==0" class=' layui-btn layui-btn-mini layui-btn-danger' @click="lockProxyBack(proxy.pcid,proxy.pstate)"><i class="layui-icon">					
													</i>
													{{proxy.pstate==0?"下架":"上架"}}</a>
													<a  v-if="proxy.pstate==4" class=' layui-btn layui-btn-mini layui-btn-info' @click="lockProxyBack(proxy.pcid,proxy.pstate)"><i class="layui-icon">					
													</i>
													{{proxy.pstate==0?"下架":"上架"}}</a>
													<a href="javascript:void(0)" title="删除" @click="deleteProxyBack(proxy.pcid)" id="deletProxy" :pcid="proxy.pcid" class="">
													<i class="layui-icon">&nbsp;&nbsp;&nbsp;&nbsp;&#xe640;</i></a>
												</td>
											</tr>
										</template>
									</tbody>
								</table>
							</div>
							<!--显示分页的地方-->
							<center>
								<div id="laypage"></div>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
