<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remarkable.mapper.EmpOrderMapper">
	
	<!-- 查询骑手的所有订单 -->
	<resultMap type="order" id="findOrderAllMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
	</resultMap>
	<select id="findOrderAll" parameterType="order" resultMap="findOrderAllMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		<where>  
		<if test="emp_id != null and emp_id != 0"> 
			and tb.add_id in (select add_id from tb_address ta left join tb_emp te on te.emp_id = ta.emp_id where te.emp_id = #{emp_id})  
		</if> 
		<if test="ord_code != null and ord_code != ''"> 
			and tb.ord_code = #{ord_code}
		</if> 
		<if test="com_id != null and com_id != 0"> 
			and tb.com_id = #{tb.com_id}
		</if> 
		<if test="add_id != null and add_id != 0"> 
			and tb.add_id = #{add_id}
		</if> 
		</where>
	</select>
	
	<!-- 查询骑手未送达的所有订单 -->
	<resultMap type="order" id="findNoOrderAndEmpAllMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
	</resultMap>
	<select id="findNoOrderAndEmpAll" parameterType="order" resultMap="findNoOrderAndEmpAllMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		<where> 
			and tb.ord_state =1  
		<if test="emp_id != null and emp_id != 0"> 
			and tb.add_id in (select add_id from tb_address ta left join tb_emp te on te.emp_id = ta.emp_id where te.emp_id = #{emp_id})  
		</if> 
		<if test="ord_code != null and ord_code != ''"> 
			and tb.ord_code = #{ord_code}
		</if> 
		<if test="com_id != null and com_id != 0"> 
			and tb.com_id = #{com_id}
		</if> 
		<if test="add_id != null and add_id != 0"> 
			and tb.add_id = #{add_id}
		</if> 
		</where>
	</select>
	
	<!-- 查询骑手已送达的所有订单 -->
	<resultMap type="order" id="findOrderAndEmpAllMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
	</resultMap>
	<select id="findOrderAndEmpAll" parameterType="order" resultMap="findOrderAndEmpAllMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		<where> 
		<if test="1 == 1"> 
			and tb.ord_state =2  
		</if> 
		<if test="emp_id != null and emp_id != 0"> 
			and tb.add_id in (select add_id from tb_address ta left join tb_emp te on te.emp_id = ta.emp_id where te.emp_id = #{emp_id})  
		</if> 
		<if test="ord_code != null and ord_code != ''"> 
			and tb.ord_code = #{ord_code} 
		</if> 
		<if test="com_id != null and com_id != 0"> 
			and tb.com_id = #{com_id} 
		</if> 
		<if test="add_id != null and add_id != 0"> 
			and tb.add_id = #{add_id} 
		</if> 
		</where>
	</select>
	
	<!-- 查询骑手转交的所有订单 -->
	<resultMap type="order" id="findSendOrderByForwardMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
	</resultMap>
	<select id="findSendOrderByForward" parameterType="order" resultMap="findSendOrderByForwardMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		<where> 
		<if test="1 == 1"> 
			and tb.ord_state =3  
		</if> 
		<if test="emp_id != null and emp_id != 0"> 
			and tb.emp_id = #{emp_id}  
		</if> 
		<if test="ord_code != null and ord_code != ''"> 
			and tb.ord_code = #{ord_code} 
		</if> 
		<if test="com_id != null and com_id != 0"> 
			and tb.com_id = #{com_id} 
		</if> 
		<if test="add_id != null and add_id != 0"> 
			and tb.add_id = #{add_id} 
		</if> 
		</where>
	</select>
	
	<!-- 查询骑手收到转交的所有订单 -->
	<resultMap type="order" id="findPutOrderByForwardMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
	</resultMap>
	<select id="findPutOrderByForward" parameterType="order" resultMap="findPutOrderByForwardMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		<where> 
		<if test="1 == 1"> 
			and tb.ord_state =3  
		</if> 
		<if test="ord_forward != null and ord_forward != 0"> 
			and tb.ord_forward = #{ord_forward}  
		</if> 
		<if test="ord_code != null and ord_code != ''"> 
			and tb.ord_code = #{ord_code} 
		</if> 
		<if test="com_id != null and com_id != 0"> 
			and tb.com_id = #{com_id} 
		</if> 
		</where>
	</select>
	
	<!-- 根据订单id查询订单详情 -->
	<resultMap type="order" id="findOrderByIdMap">
		<id column="ord_id" property="ord_id"/>
		<result column="ord_code" property="ord_code"/>
		<result column="ord_pick_code" property="ord_pick_code"/>
		<result column="ord_phone" property="ord_phone"/>
		<result column="ord_rec_name" property="ord_rec_name"/>
		<result column="ord_wight" property="ord_wight"/>
		<result column="ord_remark" property="ord_remark"/>
		<result column="ord_complaint" property="ord_complaint"/>
		<result column="ord_state" property="ord_state"/>
		<result column="ord_forward" property="ord_forward"/>
		<result column="rec_id" property="rec_id"/>
		<result column="add_id" property="add_id"/>
		<result column="com_id" property="com_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="u_id" property="u_id"/>
		<association property="company" javaType="company">
			<id column="com_id" property="com_id"/>
			<result column="com_name" property="com_name"/>
			<result column="add_state" property="add_state"/>
		</association>
		<association property="rectime" javaType="rectime">
			<id column="rec_id" property="rec_id"/>
			<result column="rec_detail" property="rec_detail"/>
			<result column="rec_state" property="rec_state"/>
		</association>
		<association property="address" javaType="address">
			<id column="add_id" property="add_id"/>
			<result column="add_detail" property="add_detail"/>
			<result column="add_state" property="add_state"/>
			<result column="emp_id" property="emp_id"/>
		</association>
		<association property="emp" javaType="emp">
			<id column="emp_id" property="emp_id"/>
			<result column="emp_name" property="emp_name"/>
			<result column="emp_major" property="emp_major"/>
			<result column="emp_dormitory" property="emp_dormitory"/>
			<result column="emp_sno" property="emp_sno"/>
			<result column="emp_credit" property="emp_credit"/>
			<result column="emp_phone" property="emp_phone"/>
			<result column="emp_state" property="emp_state"/>
		</association>
		<association property="user" javaType="user">
			<id column="u_id" property="u_id"/>
			<result column="u_phone" property="u_phone"/>
			<result column="u_pwd" property="u_pwd"/>
			<result column="u_nickname" property="u_nickname"/>
			<result column="u_sex" property="u_sex"/>
			<result column="u_birthday" property="u_birthday"/>
			<result column="u_state" property="u_state"/>
		</association>
	</resultMap>
	<select id="findOrderById" parameterType="int" resultMap="findOrderByIdMap">
		select * from tb_order tb 
		left join tb_company tc on tc.com_id =tb.com_id 
		left join tb_rec tr on tr.rec_id = tb.rec_id 
		left join tb_address ta on ta.add_id = tb.add_id 
		left join tb_emp te on te.emp_id = tb.emp_id 
		left join tb_user tu on tu.u_id = tb.u_id
		where tb.ord_id = #{ord_id}
	</select>
	
	<!-- 骑手确认送达快递 -->
	<update id="updateOrderDelivery" parameterType="int">
		update tb_order set ord_state = 2 where ord_id = #{ord_id}
	</update>
	
	<!-- 骑手转交快递 -->
	<update id="updateOrderForward" parameterType="order">
		update tb_order set ord_state = 3,ord_forward = #{ord_forward} where ord_id = #{ord_id}
	</update>
</mapper>