<!DOCTYPE html>
<!--
	显示快递信息
	王慧
-->
<html>
	<head>
		<header class="bar bar-nav">
		  <h1 class='title'>发单</h1>
		</header>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
	</head>
	<body>
		  <header class="bar bar-nav">
			  <h1 class='title'>订单记录</h1>
		  </header>
		  
		  <!-- 工具栏 -->
		<nav class="bar bar-tab">
			<a class="tab-item external" href="#">
				<span class="icon icon-home"></span>
				<span class="tab-label">首页</span>
			</a>
			<a class="tab-item external" href="addOrders.html">
				<span class="icon icon-edit"></span>
				<span class="tab-label" >发布</span>
			</a>
			<a class="tab-item external active" href="#">
				<span class="icon icon-card"></span>
				<span class="tab-label">订单</span>
			</a>
			<a class="tab-item external" href="../userset.html">
				<span class="icon icon-settings"></span>
				<span class="tab-label">设置</span>
			</a>
		</nav>
		  
		  <div class="bar bar-header-secondary">
		    <div class="searchbar row">
			    <div class="search-input col-85" style="margin-top: 6px;">
			      <input type="search" id="code" placeholder='输入快递单号...'/>
			    </div>
			   	 <a class="button button-fill button-primary col-15" id="searchBtn" ><span class="icon icon-search"></span></a>
			 </div>
		  </div>
			<div class="content" id="userorder_app">
			  <div class="content-block">
				<template v-for="userorder in list">
					 <div class="card demo-card-header-pic">
				     	<div class="card-header no-border">
					      <div class="facebook-name">编号：{{userorder.ord_code}}</div>
					      <a href="#" class="button" style="float: right;" @click="complaint(userorder.ord_code)">投诉</a>
					    </div>
					    <div valign="bottom" class="card-header color-white no-border no-padding">
					      <img class='card-cover' src="../img/d1.gif"  height="100px" alt="">
					    </div>
					    <div class="card-content">
					      <div class="card-content-inner">
					        <p class="color-gray" id="send_time">发布时间：{{userorder.ord_send_time}}
					        	<span style="float: right;" v-if="userorder.ord_state==0">发布中</span>
					        	<span style="float: right;" v-if="userorder.ord_state==1">未送达</span>
					        	<span style="float: right;" v-if="userorder.ord_state==5">已完成</span>
					        	<button style="float: right;" v-if="userorder.ord_state==2" @click="oversend(userorder.ord_code)">确认送达</button>
					        </p>
					        <p>骑手姓名：{{userorder.emp.emp_name}}</p>
					        <p>骑手电话:{{userorder.emp.emp_phone}}</p>
					        <p>接收时间:{{userorder.rectime.rec_detail}}</p>
					      </div>
					    </div>
					    <div class="card-footer">
					      <a href="#" class="link" @click="deleteUserOrder(userorder.ord_code)">删除本条记录</a>
					      <a href="#" class="link" @click="details(userorder.ord_code)"  id="details">更多</a>
					    </div>
					 </div>
				</template>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/userOrder.js"></script>
	<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</html>
